<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Milan">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link type="text/css" href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <!-- Content -->
        {# {% include "partials/header.njk" %} #}
        <main>
            {% block content %}{% endblock %}
        </main>
        {# {% include "partials/footer.njk" %} #}
    </body>
    {% block scripts %}{% endblock %}
</html>
